a {
  text-decoration: none;
  color: black;
}
body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}
.headbar {
  box-sizing: border-box;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
  background: rgba(255, 255, 255, 0.65);
  border: 2px solid #ececec;
}

.SdhsLogo {
  position: relative;
  width: 150px;
  height: auto;
  margin-left: 1%;
}

.digitech {
  position: relative;
  text-align: center;
  height: auto;
  width: auto;
  margin: 0 auto;
}
.hamburger{
  position: relative;
  height: 10%;
  width: 10%;
  left: 0;
}
.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.gray{
  background-color: gray;
  display: flex;
  justify-content: center;
  width: 70%;
}
.vy td{
  border: 1px solid black;
  width: 70px;
  height: 50px;
}
.Rhcl{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
.grade {
  width: 70%;
}